@mixin crear_grid ($columnas, $filas, $areas){
    display: grid;
    grid-template-columns: $columnas;
    grid-template-rows: $filas;
    grid-template-areas: $areas;
}

.contenedor_grid{
    @include crear_grid(
                        1fr 1fr,
                        1fr 1fr 1fr,
        "encabezado encabezado""principal principal""pie_de_pagina pie_de_pagina" );
}

.contenedor_grid--galeria{
    @include crear_grid(1fr 1fr 1fr,1fr 1fr 1fr, "pos1 pos2 pos3" "pos4 pos5 pos6" "pos7 pos8 pos9");
}

$map:(
    rojo:red,
    azul: blue
)